*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body{
	height:100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color:#fff;
  text-align: center;
}
header,
.left,
.right{
	position:absolute;
}
header{
	left:10px;
	top:10px;
	right:10px;
	height:150px;
	border:solid #fff 1px;
}
header h1{
	font-size:40px;
	height:60px;
	line-height: 60px;
}
.left{
	left:10px;
	top:170px;
	bottom: 10px;
	width: 200px;
	border: solid #fff 1px;
	text-align: left;
}
.left ul{
	overflow: auto;
}
.left ul li{
	height: 30px;
	line-height: 30px;
	cursor:pointer;
}
.left ul li.selected{
	color: green;
}
.right{
	top:170px;
	right:10px;
	bottom:10px;
	left:220px;
	border: solid #fff 1px;
}
header .type {
    display: inline-block;
    margin: 0 auto
}

header .type:after {
    display: block;
    content: "";
    clear: both
}

header .type li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    cursor: pointer
}

header .type li:first-child {
    border-left: solid 1px #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

header .type li:last-child {
	border-right: solid 1px #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

header .type li.selected {
    background: #fff;
    color: #000
}